.navbar-drew {
  color: #ffffff;
}

.navbar-bg-drew {
  background-color: #4e73df;
  background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
  background-size: cover;
}

.navbar-bg-drew a {
  color: #fff;
}

.search {
  font-size: 0.8rem;
}

.ag-header-icon {
  opacity: 1 !important;
}
